* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1168px;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: initial;
    letter-spacing: 0.75px;
}

button {
    background: transparent;
    border: 0;
    font-family: inherit;
    cursor: pointer;
}

h2,
h3 {
    font-size: 24px;
    letter-spacing: 0.75px;
    margin-top: 0.5em;
    margin-block-start: 0.5em;
    margin-bottom: 0;
    margin-block-end: 0;
}

p {
    font-size: 16px;
    letter-spacing: 0.75px;
    color: #4e4b66;
    margin-top: 0;
    margin-block-start: 0;
    margin-bottom: 0;
    margin-block-end: 0;
}

.btn {
    display: inline-block;
    border-radius: 40px;
    margin: 15px 0;
}

.btn-outline {
    border: 2px solid #d9dbe9;
    font-size: 14px;
    color: #5f2eea;
    font-weight: 600;
    letter-spacing: 0.75px;
    padding: 7.5px 22px;
}

.btn-text {
    font-size: 18px;
    font-weight: 600;
    color: #5f2eea;
}
.btn-text__label {
    margin-left: 0.3em;
}

@media screen and (min-width: 900px) {
    .main-content {
        display: flex;
        margin: 0 30px;
    }
}

.results {
    margin: 0 30px;
}
@media screen and (min-width: 900px) {
    .results {
        margin: 0;
    }
}

.more-results {
    position: relative;
    display: flex;
    justify-content: center;
}
.more-results__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    margin-bottom: 43px;
    border: 2px solid #5f2eea;
    outline: #ffffff solid 36px;
    background-color: #ffffff;
}
.more-results::before {
    content: '';
    position: absolute;
    top: 27px;
    display: block;
    height: 1px;
    background-color: #d9dbe9;
    width: 100%;
}
@media screen and (min-width: 900px) {
    .more-results {
        display: none;
    }
}

.card {
    padding-bottom: 39px;
    margin-top: 34px;
    margin-bottom: 43px;
    border-bottom: 1px solid #d9dbe9;
}
.card:last-child {
    border-bottom: 0;
}
.card__images {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    margin-right: -30px;
}
.card__stars li {
    display: inline-block;
}
.card h3 {
    color: #5f2eea;
}
.card .btn-text {
    margin: 5px 0;
}
.card:last-child {
    margin-bottom: 0;
    padding-bottom: 52px;
}
@media screen and (min-width: 900px) {
    .card {
        display: flex;
        align-items: flex-start;
    }
    .card .card__content {
        position: relative;
    }
    .card .btn-outline {
        position: absolute;
        right: 0;
        top: 0;
    }
    .card__images {
        overflow-x: initial;
        margin-right: 35px;
    }
    .card__images img + img {
        display: none;
    }
    .card__stars {
        margin-top: 0;
    }
    .card__stars img {
        width: 22px;
        height: 22px;
    }
    .card .btn-outline {
        margin-top: 0;
    }
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #5f2eea;
    margin: 2rem;
    margin-bottom: 0.5rem;
}

.menu {
    margin: 3rem;
    margin-bottom: 0.5rem;
}

/* SEARCH */
.search {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.search h2 {
    margin-left: 1.5rem;
}

.search-input {
    border-radius: 1.5rem;
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    background-image: url(/images/Forwardright.png);
    background-repeat: no-repeat;
    background-position: 95%;
    padding: 1rem 3rem;
    float: right;
}

.search-button {
    height: 4rem;
    border-radius: 2rem;
    background-color: #ed2e7e;
    margin-top: 1.3rem;
    color: #f7f7fc;
}

.search-border {
    border-top: #bca4ff solid;
    opacity: 0.4;
    transform: rotate(180deg);
    width: 100%;
}
@media screen and (min-width: 900px) {
    .search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .search-button {
        width: 15rem;
        margin: 0;
    }
    .search-input {
        margin: 1rem;
        width: 25rem;
    }
}

/* SEARCHER */
.searcher {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 2rem;
    background-color: #2a00a2;
    padding: 2rem;
    max-height: 38rem;
}

.searcher-input {
    display: flex;
    border-radius: 1.5rem;
    width: 100%;
    height: 3.5rem;
}

#Check-date {
    background-image: url(/images/Calandar.png);
    background-repeat: no-repeat;
    background-position: 1em;
    padding: 1rem 3rem;
}

#Check-date2 {
    background-image: url(/images/Calandar.png);
    background-repeat: no-repeat;
    background-position: 1em;
    padding: 1rem 3rem;
}

#Destination {
    background-image: url(/images/Search.png);
    background-repeat: no-repeat;
    background-position: 1em;
    padding: 1rem 3rem;
}

#adults-children {
    background-image: url(/images/Profile.png);
    background-repeat: no-repeat;
    background-position: 1em;
    padding: 1rem 3rem;
}

.searcher h2 {
    color: #bca4ff;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.searcher-subtitles {
    color: #f7f7fc;
    font-size: 1.3rem;
}

.searcher button {
    height: 3.5rem;
    border-radius: 2rem;
    background-color: #ed2e7e;
    margin-top: 1.3rem;
    color: #f7f7fc;
}

.searcher-border {
    border-top: #d9dbe9 solid;
    opacity: 0.4;
    transform: rotate(180deg);
}
@media screen and (min-width: 900px) {
    .searcher {
        margin-left: 0;
    }
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 2rem;
    padding: 5rem;
    background-image: -webkit-linear-gradient(top right, #5f2eea, #2a00a2);
    background-image: -moz-linear-gradient(top right, #5f2eea, #2a00a2);
    background-image: -ms-linear-gradient(top right, #5f2eea, #2a00a2);
    background-image: -o-linear-gradient(top right, #5f2eea, #2a00a2);
    background-image: linear-gradient(top right, #5f2eea, #2a00a2);
}

.banner h2 {
    color: #ffffff;
}

.banner-button {
    height: 3.5rem;
    width: 25rem;
    border-radius: 2rem;
    margin-top: 1.3rem;
    color: #f7f7fc;
    border: solid #f7f7fc;
}
.alert {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 40px;
    padding: 20px 24px 16px;
    border: 2px solid;
    border-radius: 16px;
}
.alert img:first-of-type {
    padding-right: 17px;
    align-self: flex-start;
}
.alert p {
    flex-grow: 4;
    font-weight: 500;
    letter-spacing: 0.25px;
    font-size: 14px;
}
.alert-success {
    border-color: #00ba88;
    background-color: #f2fffb;
}
.alert-success p {
    color: #00966d;
}
.alert-error {
    border-color: #ed2e7e;
    background-color: #fff3f8;
}
.alert-error p {
    color: #c30052;
}
@media screen and (min-width: 900px) {
    .alert img:first-of-type {
        align-self: center;
    }
}

.menu nav {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #2a00a2;
}
.menu nav:target {
    display: block;
}
.menu h2 {
    margin: 0;
    color: #fcfcfc;
}
.menu li a {
    display: block;
    padding: 24px;
    padding-left: 93px;
    color: #f3efff;
}
.menu li:hover {
    background-color: #5f2eea;
}
.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 45px;
    border: 1px solid rgba(188, 164, 255, 0.4);
}
.menu__header a {
    padding: 0;
}
@media screen and (min-width: 900px) {
    .menu nav {
        width: 40vw;
        left: 60vw;
    }
}

footer {
    margin: 0 30px;
    text-align: center;
}
footer section {
    margin-bottom: 100px;
}
footer h3 {
    font-size: 20px;
    color: #14142b;
    font-weight: 600;
}
footer .footer-logo {
    font-weight: 800;
    font-size: 34px;
    color: #5f2eea;
}
footer p {
    margin-bottom: 24px;
}
footer h3 + p {
    margin-top: 24px;
}
footer a {
    font-weight: 400;
    font-size: 16px;
}
footer address {
    font-style: normal;
}
footer address > * {
    color: #6e7191;
}
footer address p:first-of-type {
    margin-bottom: 0;
}
footer address a:first-of-type {
    display: block;
    color: #5f2eea;
    margin: 23px 0 18px;
}
footer .footer-nav {
    display: none;
}
footer .footer-nav a {
    color: #6e7191;
}
@media screen and (min-width: 900px) {
    footer {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    footer section:first-of-type {
        max-width: 257px;
    }
    footer .footer-logo {
        font-weight: 600;
        font-size: 20px;
    }
    footer .footer-nav {
        display: initial;
    }
    footer li {
        margin-bottom: 22px;
    }
    footer p,
    footer a {
        font-size: 14px;
    }
    footer .footer-copyright {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.25px;
    }
}

/*# sourceMappingURL=style.css.map */
