$primary-color: #5f2eea;
$primary-color--darkmode: #bca4ff;
$primary-dark-color: #2a00a2;
$primary-bg-color: #f3efff;

$secondary-color: #ed2e7e;

$text-color: #000000;

$text-on-color: #ffffff;

$grayscale-label-color: #6e7191;
$grayscale-body-color: #4e4b66;
$grayscale-title-active-color: #14142b;
$grayscale-off-white-color: #fcfcfc;
$grayscale-bg-color: #f7f7fc;
$grayscale-line-color: #d9dbe9;
$grayscale-input-bg-color: #eff0f6;
$grayscale-placeholder-color: #a0a3bd;

$success-color: #00ba88;
$success-color-light: #f2fffb;
$success-color-dark: #00966d;

$error-color: #ed2e7e;
$error-color-light: #fff3f8;
$error-color-dark: #c30052;

$input-radius: 15px;
$input-radius-light: 16px;
$button-radius: 40px;
$surface-radius: 20px;
$surface-radius-banner: 32px;

$border-width: 2px;
$border-line: 1px;
