@use 'variables';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1168px;
}

nav {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: initial;
    letter-spacing: 0.75px;
}

button {
    background: transparent;
    border: 0;
    font-family: inherit;
    cursor: pointer;
}

h2,
h3 {
    font-size: 24px;
    letter-spacing: 0.75px;
    margin-top: 0.5em;
    margin-block-start: 0.5em;
    margin-bottom: 0;
    margin-block-end: 0;
}

p {
    font-size: 16px;
    letter-spacing: 0.75px;
    color: variables.$grayscale-body-color;
    margin-top: 0;
    margin-block-start: 0;
    margin-bottom: 0;
    margin-block-end: 0;
}

.btn {
    display: inline-block;
    border-radius: variables.$button-radius;
    margin: 15px 0;
}

.btn-outline {
    border: variables.$border-width solid variables.$grayscale-line-color;
    font-size: 14px;
    color: variables.$primary-color;
    font-weight: 600;
    letter-spacing: 0.75px;
    padding: 7.5px 22px;
}

.btn-text {
    font-size: 18px;
    font-weight: 600;
    color: variables.$primary-color;
    &__label {
        margin-left: 0.3em;
    }
}

.main-content {
    @media screen and (min-width: 768px) {
        display: flex;
        margin: 0 30px;
    }
}

.results {
    margin: 0 30px;
}
.card {
    padding-bottom: 39px;
    margin-top: 34px;
    margin-bottom: 43px;
    border-bottom: variables.$border-line solid variables.$grayscale-line-color;
    &:last-child {
        border-bottom: 0;
    }
    &__images {
        display: flex;
        gap: 20px;
        //Slider horizontal para las imágenes en Mobile
        overflow-x: scroll;
        margin-right: -30px;
    }
    &__stars {
        li {
            display: inline-block;
        }
    }
    h3 {
        color: variables.$primary-color;
    }
    .btn-text {
        margin: 5px 0;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        .card__content {
            position: relative;
        }
        .btn-outline {
            position: absolute;
            right: 0;
            top: 0;
        }
        &__images {
            overflow-x: initial;
            margin-right: 35px;
            img + img {
                display: none;
            }
        }
        &__stars {
            margin-top: 0;
        }
        .btn-outline {
            margin-top: 0;
        }
    }
}

footer {
    margin: 0 30px;
    text-align: center;
    section {
        margin-bottom: 100px;
    }
    h3 {
        font-size: 20px;
        color: variables.$grayscale-title-active-color;
        font-weight: 600;
    }
    .footer-logo {
        font-weight: 800;
        font-size: 34px;
        color: variables.$primary-color;
    }
    p {
        margin-bottom: 24px;
    }
    h3 + p {
        margin-top: 24px;
    }
    a {
        font-weight: 400;
        font-size: 16px;
    }
    address {
        font-style: normal;
        > * {
            color: variables.$grayscale-label-color;
        }
        p:first-of-type {
            margin-bottom: 0;
        }

        a:first-of-type {
            display: block;
            color: variables.$primary-color;
            margin: 23px 0 18px;
        }
    }
    .footer-nav {
        display: none;
        a {
            color: variables.$grayscale-label-color;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        text-align: left;
        section:first-of-type {
            max-width: 257px;
        }
        .footer-logo {
            font-weight: 600;
            font-size: 20px;
        }
        .footer-nav {
            display: initial;
        }
        li {
            margin-bottom: 22px;
        }
        p,
        a {
            font-size: 14px;
        }
        .footer-copyright {
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.25px;
        }
    }
}
